<!DOCTYPE HTML>
<html>
	<head>
		<title> xhml.ml | Shorten the URL </title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href="http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet"> 
	</head>
	<style>
		body {
			background-color: #226268;
			background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/0e/35/af/30/kashmir-valley-travels.jpg");
			background-size: cover ;
		}
		.btn-link {
			color : #50dfec;
			text-shadow : none ;
		}
		.btn-link:hover {
			color : #000000;
		}
	</style>
	<body>
		 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
     
          <div class="inner cover">
  			<div class='container text-center' style="padding-top: 270px">
					<h1 class="cover-heading" style="color: White"><%= message %></h1>
  					<div class="col-sm-6 col-sm-offset-3">
  				<% if(isget) { %>
				<form method="POST" action='.'> 
					<input class='form-control' type="text" name="url" placeholder="Enter URL">
					<button type="submit" class="btn btn-primary" style="margin-top: 20px">Shorten &raquo</button>
				</form>
				<% } %>
  				<% if(!isget) { %>
  					<div class="alert alert-success" role="alert">
					<p><a href="<%= link %>" class="alert-link" target="_blank"><%= link %></a></p>
  					<p>Hits : <%= hits %></p>
				</div>
				<% } %>
				<p style="color: White"><a href="https://github.com/hrsvrdhn/UrlShortner" href="_blank">See the code</a></p>
			</div>
				</div>

          </div>
        </div>

      </div>
    </div>
	</body>
</html>