<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> xhml.ml | Shorten the URL</title>

    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css" rel="stylesheet">
    <style>
    body {
      background-color: #226268;
      background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/0e/35/af/30/kashmir-valley-travels.jpg");
      background-size: cover ;

    }
    img {
    width: 100%;
    height: auto;
}
    .btn-link {
      color : #50dfec;
      text-shadow : none ;
    }
    .btn-link:hover {
      color : #000000;
    }
    a , a:hover {
      color: White;
    }
    
  </style>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">XHML</h3>
              
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading"><%= message %></h1>
            <p class="lead">
              <% if(isget) { %>
        <form method="POST" action='.'> 
          <input class='form-control' type="text" name="url" placeholder="Enter URL">
          <button type="submit" class="btn btn-primary" style="margin-top: 20px">Shorten &raquo</button>
        </form>
        <% } %>
          <% if(!isget) { %>
            <div class="alert alert-success" role="alert">
          <p><a href="http://<%= link %>" class="alert-link" target="_blank"><%= link %></a></p>
            <p>Hits : <%= hits %></p>
        </div>
        <% } %>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
             <strong><p>Made by <a href="https://github.com/hrsvrdhn">Harsh Vardhan Sharma</a>, clone the code from <a href="https://github.com/hrsvrdhn/UrlShortner">here</a>.</p></strong>
            </div>
          </div>

        </div>

      </div>

    </div>

  </body>
</html>
